.intro-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .intro-item {
    display: flex;
    flex: 1;
    padding: 10px;
    text-align: center;
    justify-content: center;
  }
  
  .intro-item h1,
  h2,
  ul,
  li {
    margin: 4px 0;
  }
  
  .intro-item p {
    margin: 8px 0;
  }
  
  .intro-text {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
  }

  .ed-item {
    margin: 0 auto;
    padding: 10px;
    height: 50%;
    text-align: center;
    justify-content: center;
    cursor: pointer;
  }

  .ed-picture {
    width: 200px;
    height: 150px;
    overflow: hidden;
    border: 2px solid rgb(0, 191, 255);
  }

  .ed-description {
    text-align: left;
  }


  .ed-background {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 100%;
    height: calc(100%);
    border: solid 1px black;
    background: lightblue;
    align-items: center;
    text-align: center;
  }